/* shared font */

body{
	margin: 15px 15px;
	padding: 10px 10px;
}

.banner-1{
	background-image: url('resources/Banner\ Image.png'); /* Specify the path to your image */
	background-size: cover; /* Cover the entire background */
	background-position: center; /* Center the background image */
	background-repeat: no-repeat; /* Do not repeat the background image */
    color: white;
	height: 500px;
	width: 100%;  
	text-align: center;
	padding-top: 50%;
	font-size: 30px;
}

.banner-3{
	background-image: url('resources/Vectorrr.png'); /* Specify the path to your image */
	background-size: cover; /* Cover the entire background */
	background-position: center; /* Center the background image */
	background-repeat: no-repeat; /* Do not repeat the background image */
    color: white;
	height: 500px;
	width: 100%;  
	text-align: center;
	padding-top: 50%;
	font-size: 30px;
}


.banner-content-2{
	display: inline-block;
	justify-content: center; /* Center horizontally */
    align-items: center; 
}
  

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
   margin: 50px 5px;
}

.functional{
	margin-top: 30px;
	margin-bottom: 30px;
}


.btn-primary{
	background: orangered;
	border-radius: 5px;
	font-size:20px;
	font-weight: 700;
	color: white;
    padding: 5px 15px;
	width: 150px;
}


/* header 2 */
.banner-content-2{
	max-width: 500px;
}

.banner-greeting-2{
	font-size: 40px;
	margin-bottom: 0px;
	color: gray;
}

.banner-title-2{
	font-size: 65px;
	margin-top: 10px;
}



/*  about section styles */
.flex{
	display: flex;
	justify-content: space-between;
}







/* coming-soon */
.about{
	padding: 130px;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.section-title{
	color: orangered;
	text-align: center;
	font-family: open Sans;
	font-size: 35px;
	font-weight: 700;
	line-height: normal;

}

.section-des{
	color: rgb(75, 70, 68);
	text-align: center;
	font-family: open Sans;
	font-size: 18px;
}


.about-info-container{
	display: flex;
	justify-content: space-between;
}

.about-info{
	text-align: center;
}

#what-i-do-des{
	padding: 30px 150px;
}

.functional{
	text-align: center;
}

.beside-img{
	display: flex;
}

.awsm-portf-2{
	display: flex;
	padding: 0px;
}

.newsletter{
	align-items: center;
}


/* footer  */
footer{
     background-color: black;
}

.social-links{
	display: flex;
}

.footer-col{
	display: flex;
	justify-content: space-between;
	color: white;
}

hr{
	height: 2px;
}



























